.flex-container {
 display: flex;
 align-content: center;
 background-color: black;
flex-direction: column;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding:10%;
    font-size: 30px;
  }